NET "def1_btn1" LOC = P83 | IOSTANDARD = LVTTL | PULLDOWN;
NET "def1_btn2" LOC = P85 | IOSTANDARD = LVTTL | PULLDOWN;
NET "def1_btn3" LOC = P88 | IOSTANDARD = LVTTL | PULLDOWN;

NET "att1_btn1" LOC = P93 | IOSTANDARD = LVTTL | PULLDOWN;
NET "att1_btn2" LOC = P95 | IOSTANDARD = LVTTL | PULLDOWN;
NET "att1_btn3" LOC = P98 | IOSTANDARD = LVTTL | PULLDOWN;

NET "def2_btn1" LOC = P9 | IOSTANDARD = LVTTL | PULLDOWN;
NET "def2_btn2" LOC = P11 | IOSTANDARD = LVTTL | PULLDOWN;
NET "def2_btn3" LOC = P14 | IOSTANDARD = LVTTL | PULLDOWN;

NET "att2_btn1" LOC = P16 | IOSTANDARD = LVTTL | PULLDOWN;
NET "att2_btn2" LOC = P21 | IOSTANDARD = LVTTL | PULLDOWN;
NET "att2_btn3" LOC = P23 | IOSTANDARD = LVTTL | PULLDOWN;

NET "def1<0>" LOC = P87 | IOSTANDARD = LVTTL;
NET "def1<1>" LOC = P84 | IOSTANDARD = LVTTL;
NET "def1<2>" LOC = P82 | IOSTANDARD = LVTTL;

NET "att1<0>" LOC = P97 | IOSTANDARD = LVTTL;
NET "att1<1>" LOC = P94 | IOSTANDARD = LVTTL;
NET "att1<2>" LOC = P92 | IOSTANDARD = LVTTL;

NET "def2<0>" LOC = P10 | IOSTANDARD = LVTTL;
NET "def2<1>" LOC = P12 | IOSTANDARD = LVTTL;
NET "def2<2>" LOC = P15 | IOSTANDARD = LVTTL;

NET "att2<0>" LOC = P24 | IOSTANDARD = LVTTL;
NET "att2<1>" LOC = P22 | IOSTANDARD = LVTTL;
NET "att2<2>" LOC = P17 | IOSTANDARD = LVTTL;

NET "seven_seg1<6>" LOC = P57 | IOSTANDARD = LVTTL;
NET "seven_seg1<5>" LOC = P58 | IOSTANDARD = LVTTL;
NET "seven_seg1<4>" LOC = P66 | IOSTANDARD = LVTTL;
NET "seven_seg1<3>" LOC = P67 | IOSTANDARD = LVTTL;
NET "seven_seg1<2>" LOC = P74 | IOSTANDARD = LVTTL;
NET "seven_seg1<1>" LOC = P75 | IOSTANDARD = LVTTL;
NET "seven_seg1<0>" LOC = P78 | IOSTANDARD = LVTTL;

NET "seven_seg2<6>" LOC = P51 | IOSTANDARD = LVTTL;
NET "seven_seg2<5>" LOC = P50 | IOSTANDARD = LVTTL;
NET "seven_seg2<4>" LOC = P41 | IOSTANDARD = LVTTL;
NET "seven_seg2<3>" LOC = P40 | IOSTANDARD = LVTTL;
NET "seven_seg2<2>" LOC = P35 | IOSTANDARD = LVTTL;
NET "seven_seg2<1>" LOC = P34 | IOSTANDARD = LVTTL;
NET "seven_seg2<0>" LOC = P33 | IOSTANDARD = LVTTL;

NET "led_strip1<0>" LOC = P100 | IOSTANDARD = LVTTL;
NET "led_strip1<1>" LOC = P102 | IOSTANDARD = LVTTL;
NET "led_strip1<2>" LOC = P105 | IOSTANDARD = LVTTL;
NET "led_strip2<0>" LOC = P99 | IOSTANDARD = LVTTL;
NET "led_strip2<1>" LOC = P101 | IOSTANDARD = LVTTL;
NET "led_strip2<2>" LOC = P104 | IOSTANDARD = LVTTL;

NET "leds<0>" LOC = P127 | IOSTANDARD = LVTTL;
NET "leds<1>" LOC = P124 | IOSTANDARD = LVTTL;
NET "leds<2>" LOC = P126 | IOSTANDARD = LVTTL;
NET "leds<3>" LOC = P123 | IOSTANDARD = LVTTL;

NET "cbtn" LOC = P123 | IOSTANDARD = LVTTL | PULLDOWN;
