//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 03 22:01:27 2019
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "cclk" LOCATE = SITE "P70" LEVEL 1;
COMP "att1_btn1" LOCATE = SITE "P93" LEVEL 1;
COMP "att1_btn2" LOCATE = SITE "P95" LEVEL 1;
COMP "att1_btn3" LOCATE = SITE "P98" LEVEL 1;
COMP "att2_btn1" LOCATE = SITE "P16" LEVEL 1;
COMP "att2_btn2" LOCATE = SITE "P21" LEVEL 1;
COMP "att2_btn3" LOCATE = SITE "P23" LEVEL 1;
COMP "def1[0]" LOCATE = SITE "P87" LEVEL 1;
COMP "def1[1]" LOCATE = SITE "P84" LEVEL 1;
COMP "def1[2]" LOCATE = SITE "P82" LEVEL 1;
COMP "def2[0]" LOCATE = SITE "P10" LEVEL 1;
COMP "def2[1]" LOCATE = SITE "P12" LEVEL 1;
COMP "def2[2]" LOCATE = SITE "P15" LEVEL 1;
COMP "att1[0]" LOCATE = SITE "P97" LEVEL 1;
COMP "att1[1]" LOCATE = SITE "P94" LEVEL 1;
COMP "att1[2]" LOCATE = SITE "P92" LEVEL 1;
COMP "att2[0]" LOCATE = SITE "P24" LEVEL 1;
COMP "att2[1]" LOCATE = SITE "P22" LEVEL 1;
COMP "att2[2]" LOCATE = SITE "P17" LEVEL 1;
COMP "leds[0]" LOCATE = SITE "P127" LEVEL 1;
COMP "leds[1]" LOCATE = SITE "P124" LEVEL 1;
COMP "leds[2]" LOCATE = SITE "P126" LEVEL 1;
COMP "leds[3]" LOCATE = SITE "P123" LEVEL 1;
COMP "seven_seg1[0]" LOCATE = SITE "P78" LEVEL 1;
COMP "seven_seg1[1]" LOCATE = SITE "P75" LEVEL 1;
COMP "seven_seg1[2]" LOCATE = SITE "P74" LEVEL 1;
COMP "seven_seg1[3]" LOCATE = SITE "P67" LEVEL 1;
COMP "seven_seg2[0]" LOCATE = SITE "P33" LEVEL 1;
COMP "seven_seg1[4]" LOCATE = SITE "P66" LEVEL 1;
COMP "seven_seg2[1]" LOCATE = SITE "P34" LEVEL 1;
COMP "seven_seg1[5]" LOCATE = SITE "P58" LEVEL 1;
COMP "seven_seg2[2]" LOCATE = SITE "P35" LEVEL 1;
COMP "seven_seg1[6]" LOCATE = SITE "P57" LEVEL 1;
COMP "seven_seg2[3]" LOCATE = SITE "P40" LEVEL 1;
COMP "seven_seg2[4]" LOCATE = SITE "P41" LEVEL 1;
COMP "seven_seg2[5]" LOCATE = SITE "P50" LEVEL 1;
COMP "seven_seg2[6]" LOCATE = SITE "P51" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "spi_sck" LOCATE = SITE "P43" LEVEL 1;
COMP "avr_rx_busy" LOCATE = SITE "P39" LEVEL 1;
COMP "led[0]" LOCATE = SITE "P134" LEVEL 1;
COMP "led[1]" LOCATE = SITE "P133" LEVEL 1;
COMP "led[2]" LOCATE = SITE "P132" LEVEL 1;
COMP "led[3]" LOCATE = SITE "P131" LEVEL 1;
COMP "avr_tx" LOCATE = SITE "P55" LEVEL 1;
COMP "spi_ss" LOCATE = SITE "P48" LEVEL 1;
COMP "led_strip1[0]" LOCATE = SITE "P100" LEVEL 1;
COMP "led_strip1[1]" LOCATE = SITE "P102" LEVEL 1;
COMP "led_strip1[2]" LOCATE = SITE "P105" LEVEL 1;
COMP "led_strip2[0]" LOCATE = SITE "P99" LEVEL 1;
COMP "led_strip2[1]" LOCATE = SITE "P101" LEVEL 1;
COMP "led_strip2[2]" LOCATE = SITE "P104" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "P44" LEVEL 1;
COMP "def1_btn1" LOCATE = SITE "P83" LEVEL 1;
COMP "def1_btn2" LOCATE = SITE "P85" LEVEL 1;
COMP "def1_btn3" LOCATE = SITE "P88" LEVEL 1;
COMP "def2_btn1" LOCATE = SITE "P9" LEVEL 1;
COMP "def2_btn2" LOCATE = SITE "P11" LEVEL 1;
COMP "def2_btn3" LOCATE = SITE "P14" LEVEL 1;
TIMEGRP clk = BEL "p1l1am/M_timeanimed_q_48" BEL "p1l1am/M_timeanimed_q_53"
        BEL "p1l1am/M_timeanimed_q_49" BEL "p1l1am/M_timeanimed_q_54" BEL
        "p1l1am/M_timeanimed_q_55" BEL "p1l1am/M_timeanimed_q_60" BEL
        "p1l1am/M_timeanimed_q_61" BEL "p1l1am/M_timeanimed_q_56" BEL
        "p1l1am/M_timeanimed_q_57" BEL "p1l1am/M_timeanimed_q_62" BEL
        "p1l1am/M_timeanimed_q_58" BEL "p1l1am/M_timeanimed_q_63" BEL
        "p1l1am/M_timeanimed_q_59" BEL "p1l1am/M_timeanimed_q_64" BEL
        "p1l1am/M_timeanimed_q_65" BEL "p1l1am/M_timeanimed_q_70" BEL
        "p1l1am/M_timeanimed_q_71" BEL "p1l1am/M_timeanimed_q_66" BEL
        "p1l1am/M_timeanimed_q_67" BEL "p1l1am/M_timeanimed_q_72" BEL
        "p1l1am/M_timeanimed_q_68" BEL "p1l1am/M_timeanimed_q_73" BEL
        "p1l1am/M_timeanimed_q_69" BEL "p1l1am/M_timeanimed_q_74" BEL
        "p1l1am/M_timeanimed_q_75" BEL "p1l1am/M_timeanimed_q_80" BEL
        "p1l1am/M_timeanimed_q_81" BEL "p1l1am/M_timeanimed_q_76" BEL
        "p1l1am/M_timeanimed_q_77" BEL "p1l1am/M_timeanimed_q_82" BEL
        "p1l1am/M_timeanimed_q_78" BEL "p1l1am/M_timeanimed_q_83" BEL
        "p1l1am/M_timeanimed_q_79" BEL "p1l1am/M_timeanimed_q_84" BEL
        "p1l1am/M_timeanimed_q_85" BEL "p1l1am/M_timeanimed_q_86" BEL
        "p1l1am/M_timeanimed_q_87" BEL "p1l1am/M_timeanimed_q_88" BEL
        "p1l1am/M_timeanimed_q_89" BEL "p1l1am/ledmanager/M_state_q_FSM_FFd1"
        BEL "p1l1am/ledmanager/M_state_q_FSM_FFd2" BEL
        "p1l1am/ledmanager/M_state_q_FSM_FFd3" BEL
        "p1l1am/ledmanager/M_timer_q_21" BEL "p1l1am/ledmanager/M_timer_q_20"
        BEL "p1l1am/ledmanager/M_timer_q_19" BEL
        "p1l1am/ledmanager/M_timer_q_18" BEL "p1l1am/ledmanager/M_timer_q_17"
        BEL "p1l1am/ledmanager/M_timer_q_16" BEL
        "p1l1am/ledmanager/M_timer_q_15" BEL "p1l1am/ledmanager/M_timer_q_14"
        BEL "p1l1am/ledmanager/M_timer_q_13" BEL
        "p1l1am/ledmanager/M_timer_q_12" BEL "p1l1am/ledmanager/M_timer_q_11"
        BEL "p1l1am/ledmanager/M_timer_q_10" BEL
        "p1l1am/ledmanager/M_timer_q_9" BEL "p1l1am/ledmanager/M_timer_q_8"
        BEL "p1l1am/ledmanager/M_timer_q_7" BEL
        "p1l1am/ledmanager/M_timer_q_6" BEL "p1l1am/ledmanager/M_timer_q_5"
        BEL "p1l1am/ledmanager/M_timer_q_4" BEL
        "p1l1am/ledmanager/M_timer_q_3" BEL "p1l1am/ledmanager/M_timer_q_2"
        BEL "p1l1am/ledmanager/M_timer_q_1" BEL
        "p1l1am/ledmanager/M_timer_q_0" BEL "p1l1am/ledmanager/M_pwm_status_q"
        BEL "p1l1am/ledmanager/M_physical_tracker_q_10" BEL
        "p1l1am/ledmanager/M_physical_tracker_q_9" BEL
        "p1l1am/ledmanager/M_physical_tracker_q_8" BEL
        "p1l1am/ledmanager/M_physical_tracker_q_7" BEL
        "p1l1am/ledmanager/M_physical_tracker_q_6" BEL
        "p1l1am/ledmanager/M_physical_tracker_q_5" BEL
        "p1l1am/ledmanager/M_physical_tracker_q_4" BEL
        "p1l1am/ledmanager/M_physical_tracker_q_3" BEL
        "p1l1am/ledmanager/M_physical_tracker_q_2" BEL
        "p1l1am/ledmanager/M_physical_tracker_q_1" BEL
        "p1l1am/ledmanager/M_physical_tracker_q_0" BEL
        "p1l1am/ledmanager/M_pixel_overall_count_q_7" BEL
        "p1l1am/ledmanager/M_pixel_overall_count_q_6" BEL
        "p1l1am/ledmanager/M_pixel_overall_count_q_5" BEL
        "p1l1am/ledmanager/M_pixel_overall_count_q_4" BEL
        "p1l1am/ledmanager/M_pixel_overall_count_q_3" BEL
        "p1l1am/ledmanager/M_pixel_overall_count_q_2" BEL
        "p1l1am/ledmanager/M_pixel_overall_count_q_1" BEL
        "p1l1am/ledmanager/M_pixel_overall_count_q_0" BEL
        "p1l1am/M_timeanimed_q_0" BEL "p1l1am/M_timeanimed_q_1" BEL
        "p1l1am/M_timeanimed_q_2" BEL "p1l1am/M_timeanimed_q_3" BEL
        "p1l1am/M_timeanimed_q_4" BEL "p1l1am/M_timeanimed_q_5" BEL
        "p1l1am/M_timeanimed_q_6" BEL "p1l1am/M_timeanimed_q_7" BEL
        "p1l1am/M_timeanimed_q_8" BEL "p1l1am/M_timeanimed_q_9" BEL
        "p1l1am/M_strip_state_q_0" BEL "p1l1am/M_strip_state_q_1" BEL
        "p1l1am/M_blinking_counter_q_0" BEL "p1l1am/M_blinking_counter_q_1"
        BEL "p1l1am/M_blinking_counter_q_2" BEL
        "p1l1am/M_bangsequence_q_FSM_FFd1" BEL
        "p1l1am/M_bangsequence_q_FSM_FFd2" BEL
        "p1l1am/M_bangsequence_q_FSM_FFd3" BEL "p1l1am/M_timeanimed_q_10" BEL
        "p1l1am/M_timeanimed_q_11" BEL "p1l1am/M_timeanimed_q_12" BEL
        "p1l1am/M_timeanimed_q_13" BEL "p1l1am/M_timeanimed_q_14" BEL
        "p1l1am/M_timeanimed_q_15" BEL "p1l1am/M_timeanimed_q_20" BEL
        "p1l1am/M_timeanimed_q_21" BEL "p1l1am/M_timeanimed_q_16" BEL
        "p1l1am/M_timeanimed_q_17" BEL "p1l1am/M_timeanimed_q_22" BEL
        "p1l1am/M_timeanimed_q_18" BEL "p1l1am/M_timeanimed_q_23" BEL
        "p1l1am/M_timeanimed_q_19" BEL "p1l1am/M_timeanimed_q_24" BEL
        "p1l1am/M_timeanimed_q_25" BEL "p1l1am/M_timeanimed_q_30" BEL
        "p1l1am/M_timeanimed_q_31" BEL "p1l1am/M_timeanimed_q_26" BEL
        "p1l1am/M_timeanimed_q_27" BEL "p1l1am/M_timeanimed_q_32" BEL
        "p1l1am/M_timeanimed_q_28" BEL "p1l1am/M_timeanimed_q_33" BEL
        "p1l1am/M_timeanimed_q_29" BEL "p1l1am/M_timeanimed_q_34" BEL
        "p1l1am/M_timeanimed_q_35" BEL "p1l1am/M_timeanimed_q_40" BEL
        "p1l1am/M_timeanimed_q_41" BEL "p1l1am/M_timeanimed_q_36" BEL
        "p1l1am/M_timeanimed_q_37" BEL "p1l1am/M_timeanimed_q_42" BEL
        "p1l1am/M_timeanimed_q_38" BEL "p1l1am/M_timeanimed_q_43" BEL
        "p1l1am/M_timeanimed_q_39" BEL "p1l1am/M_timeanimed_q_44" BEL
        "p1l1am/M_timeanimed_q_45" BEL "p1l1am/M_timeanimed_q_50" BEL
        "p1l1am/M_timeanimed_q_51" BEL "p1l1am/M_timeanimed_q_46" BEL
        "p1l1am/M_timeanimed_q_47" BEL "p1l1am/M_timeanimed_q_52" BEL
        "M_state_q_FSM_FFd2_1" BEL "M_state_q_FSM_FFd2_2" BEL
        "M_state_q_FSM_FFd2_3" BEL "clk_BUFGP/BUFG" BEL
        "reset_cond/M_stage_q_3" BEL "reset_cond/M_stage_q_2" BEL
        "reset_cond/M_stage_q_1" BEL "reset_cond/M_stage_q_0" BEL
        "p1l2am/M_timeanimed_q_48" BEL "p1l2am/M_timeanimed_q_53" BEL
        "p1l2am/M_timeanimed_q_49" BEL "p1l2am/M_timeanimed_q_54" BEL
        "p1l2am/M_timeanimed_q_55" BEL "p1l2am/M_timeanimed_q_60" BEL
        "p1l2am/M_timeanimed_q_61" BEL "p1l2am/M_timeanimed_q_56" BEL
        "p1l2am/M_timeanimed_q_57" BEL "p1l2am/M_timeanimed_q_62" BEL
        "p1l2am/M_timeanimed_q_58" BEL "p1l2am/M_timeanimed_q_63" BEL
        "p1l2am/M_timeanimed_q_59" BEL "p1l2am/M_timeanimed_q_64" BEL
        "p1l2am/M_timeanimed_q_65" BEL "p1l2am/M_timeanimed_q_70" BEL
        "p1l2am/M_timeanimed_q_71" BEL "p1l2am/M_timeanimed_q_66" BEL
        "p1l2am/M_timeanimed_q_67" BEL "p1l2am/M_timeanimed_q_72" BEL
        "p1l2am/M_timeanimed_q_68" BEL "p1l2am/M_timeanimed_q_73" BEL
        "p1l2am/M_timeanimed_q_69" BEL "p1l2am/M_timeanimed_q_74" BEL
        "p1l2am/M_timeanimed_q_75" BEL "p1l2am/M_timeanimed_q_80" BEL
        "p1l2am/M_timeanimed_q_81" BEL "p1l2am/M_timeanimed_q_76" BEL
        "p1l2am/M_timeanimed_q_77" BEL "p1l2am/M_timeanimed_q_82" BEL
        "p1l2am/M_timeanimed_q_78" BEL "p1l2am/M_timeanimed_q_83" BEL
        "p1l2am/M_timeanimed_q_79" BEL "p1l2am/M_timeanimed_q_84" BEL
        "p1l2am/M_timeanimed_q_85" BEL "p1l2am/M_timeanimed_q_86" BEL
        "p1l2am/M_timeanimed_q_87" BEL "p1l2am/M_timeanimed_q_88" BEL
        "p1l2am/M_timeanimed_q_89" BEL "p1l2am/ledmanager/M_state_q_FSM_FFd1"
        BEL "p1l2am/ledmanager/M_state_q_FSM_FFd2" BEL
        "p1l2am/ledmanager/M_state_q_FSM_FFd3" BEL
        "p1l2am/ledmanager/M_timer_q_20" BEL "p1l2am/ledmanager/M_timer_q_19"
        BEL "p1l2am/ledmanager/M_timer_q_18" BEL
        "p1l2am/ledmanager/M_timer_q_17" BEL "p1l2am/ledmanager/M_timer_q_16"
        BEL "p1l2am/ledmanager/M_timer_q_15" BEL
        "p1l2am/ledmanager/M_timer_q_14" BEL "p1l2am/ledmanager/M_timer_q_13"
        BEL "p1l2am/ledmanager/M_timer_q_12" BEL
        "p1l2am/ledmanager/M_timer_q_11" BEL "p1l2am/ledmanager/M_timer_q_10"
        BEL "p1l2am/ledmanager/M_timer_q_9" BEL
        "p1l2am/ledmanager/M_timer_q_8" BEL "p1l2am/ledmanager/M_timer_q_7"
        BEL "p1l2am/ledmanager/M_timer_q_6" BEL
        "p1l2am/ledmanager/M_timer_q_5" BEL "p1l2am/ledmanager/M_timer_q_4"
        BEL "p1l2am/ledmanager/M_timer_q_3" BEL
        "p1l2am/ledmanager/M_timer_q_2" BEL "p1l2am/ledmanager/M_timer_q_1"
        BEL "p1l2am/ledmanager/M_timer_q_0" BEL
        "p1l2am/ledmanager/M_pwm_status_q" BEL
        "p1l2am/ledmanager/M_physical_tracker_q_10" BEL
        "p1l2am/ledmanager/M_physical_tracker_q_9" BEL
        "p1l2am/ledmanager/M_physical_tracker_q_8" BEL
        "p1l2am/ledmanager/M_physical_tracker_q_7" BEL
        "p1l2am/ledmanager/M_physical_tracker_q_6" BEL
        "p1l2am/ledmanager/M_physical_tracker_q_5" BEL
        "p1l2am/ledmanager/M_physical_tracker_q_4" BEL
        "p1l2am/ledmanager/M_physical_tracker_q_3" BEL
        "p1l2am/ledmanager/M_physical_tracker_q_2" BEL
        "p1l2am/ledmanager/M_physical_tracker_q_1" BEL
        "p1l2am/ledmanager/M_physical_tracker_q_0" BEL
        "p1l2am/ledmanager/M_pixel_overall_count_q_7" BEL
        "p1l2am/ledmanager/M_pixel_overall_count_q_6" BEL
        "p1l2am/ledmanager/M_pixel_overall_count_q_5" BEL
        "p1l2am/ledmanager/M_pixel_overall_count_q_4" BEL
        "p1l2am/ledmanager/M_pixel_overall_count_q_3" BEL
        "p1l2am/ledmanager/M_pixel_overall_count_q_2" BEL
        "p1l2am/ledmanager/M_pixel_overall_count_q_1" BEL
        "p1l2am/ledmanager/M_pixel_overall_count_q_0" BEL
        "p1l2am/M_timeanimed_q_0" BEL "p1l2am/M_timeanimed_q_1" BEL
        "p1l2am/M_timeanimed_q_2" BEL "p1l2am/M_timeanimed_q_3" BEL
        "p1l2am/M_timeanimed_q_4" BEL "p1l2am/M_timeanimed_q_5" BEL
        "p1l2am/M_timeanimed_q_6" BEL "p1l2am/M_timeanimed_q_7" BEL
        "p1l2am/M_timeanimed_q_8" BEL "p1l2am/M_timeanimed_q_9" BEL
        "p1l2am/M_strip_state_q_0" BEL "p1l2am/M_strip_state_q_1" BEL
        "p1l2am/M_blinking_counter_q_0" BEL "p1l2am/M_blinking_counter_q_1"
        BEL "p1l2am/M_blinking_counter_q_2" BEL
        "p1l2am/M_bangsequence_q_FSM_FFd1" BEL
        "p1l2am/M_bangsequence_q_FSM_FFd2" BEL
        "p1l2am/M_bangsequence_q_FSM_FFd3" BEL "p1l2am/M_timeanimed_q_10" BEL
        "p1l2am/M_timeanimed_q_11" BEL "p1l2am/M_timeanimed_q_12" BEL
        "p1l2am/M_timeanimed_q_13" BEL "p1l2am/M_timeanimed_q_14" BEL
        "p1l2am/M_timeanimed_q_15" BEL "p1l2am/M_timeanimed_q_20" BEL
        "p1l2am/M_timeanimed_q_21" BEL "p1l2am/M_timeanimed_q_16" BEL
        "p1l2am/M_timeanimed_q_17" BEL "p1l2am/M_timeanimed_q_22" BEL
        "p1l2am/M_timeanimed_q_18" BEL "p1l2am/M_timeanimed_q_23" BEL
        "p1l2am/M_timeanimed_q_19" BEL "p1l2am/M_timeanimed_q_24" BEL
        "p1l2am/M_timeanimed_q_25" BEL "p1l2am/M_timeanimed_q_30" BEL
        "p1l2am/M_timeanimed_q_31" BEL "p1l2am/M_timeanimed_q_26" BEL
        "p1l2am/M_timeanimed_q_27" BEL "p1l2am/M_timeanimed_q_32" BEL
        "p1l2am/M_timeanimed_q_28" BEL "p1l2am/M_timeanimed_q_33" BEL
        "p1l2am/M_timeanimed_q_29" BEL "p1l2am/M_timeanimed_q_34" BEL
        "p1l2am/M_timeanimed_q_35" BEL "p1l2am/M_timeanimed_q_40" BEL
        "p1l2am/M_timeanimed_q_41" BEL "p1l2am/M_timeanimed_q_36" BEL
        "p1l2am/M_timeanimed_q_37" BEL "p1l2am/M_timeanimed_q_42" BEL
        "p1l2am/M_timeanimed_q_38" BEL "p1l2am/M_timeanimed_q_43" BEL
        "p1l2am/M_timeanimed_q_39" BEL "p1l2am/M_timeanimed_q_44" BEL
        "p1l2am/M_timeanimed_q_45" BEL "p1l2am/M_timeanimed_q_50" BEL
        "p1l2am/M_timeanimed_q_51" BEL "p1l2am/M_timeanimed_q_46" BEL
        "p1l2am/M_timeanimed_q_47" BEL "p1l2am/M_timeanimed_q_52" BEL
        "M_state_q_FSM_FFd3_1" BEL "M_state_q_FSM_FFd3_2" BEL "M_sclk_q_10"
        BEL "p1l3am/M_timeanimed_q_48" BEL "p1l3am/M_timeanimed_q_53" BEL
        "p1l3am/M_timeanimed_q_49" BEL "p1l3am/M_timeanimed_q_54" BEL
        "p1l3am/M_timeanimed_q_55" BEL "p1l3am/M_timeanimed_q_60" BEL
        "p1l3am/M_timeanimed_q_61" BEL "p1l3am/M_timeanimed_q_56" BEL
        "p1l3am/M_timeanimed_q_57" BEL "p1l3am/M_timeanimed_q_62" BEL
        "p1l3am/M_timeanimed_q_58" BEL "p1l3am/M_timeanimed_q_63" BEL
        "p1l3am/M_timeanimed_q_59" BEL "p1l3am/M_timeanimed_q_64" BEL
        "p1l3am/M_timeanimed_q_65" BEL "p1l3am/M_timeanimed_q_70" BEL
        "p1l3am/M_timeanimed_q_71" BEL "p1l3am/M_timeanimed_q_66" BEL
        "p1l3am/M_timeanimed_q_67" BEL "p1l3am/M_timeanimed_q_72" BEL
        "p1l3am/M_timeanimed_q_68" BEL "p1l3am/M_timeanimed_q_73" BEL
        "p1l3am/M_timeanimed_q_69" BEL "p1l3am/M_timeanimed_q_74" BEL
        "p1l3am/M_timeanimed_q_75" BEL "p1l3am/M_timeanimed_q_80" BEL
        "p1l3am/M_timeanimed_q_81" BEL "p1l3am/M_timeanimed_q_76" BEL
        "p1l3am/M_timeanimed_q_77" BEL "p1l3am/M_timeanimed_q_82" BEL
        "p1l3am/M_timeanimed_q_78" BEL "p1l3am/M_timeanimed_q_83" BEL
        "p1l3am/M_timeanimed_q_79" BEL "p1l3am/M_timeanimed_q_84" BEL
        "p1l3am/M_timeanimed_q_85" BEL "p1l3am/M_timeanimed_q_86" BEL
        "p1l3am/M_timeanimed_q_87" BEL "p1l3am/M_timeanimed_q_88" BEL
        "p1l3am/M_timeanimed_q_89" BEL "p1l3am/ledmanager/M_state_q_FSM_FFd1"
        BEL "p1l3am/ledmanager/M_state_q_FSM_FFd2" BEL
        "p1l3am/ledmanager/M_state_q_FSM_FFd3" BEL
        "p1l3am/ledmanager/M_timer_q_20" BEL "p1l3am/ledmanager/M_timer_q_19"
        BEL "p1l3am/ledmanager/M_timer_q_18" BEL
        "p1l3am/ledmanager/M_timer_q_17" BEL "p1l3am/ledmanager/M_timer_q_16"
        BEL "p1l3am/ledmanager/M_timer_q_15" BEL
        "p1l3am/ledmanager/M_timer_q_14" BEL "p1l3am/ledmanager/M_timer_q_13"
        BEL "p1l3am/ledmanager/M_timer_q_12" BEL
        "p1l3am/ledmanager/M_timer_q_11" BEL "p1l3am/ledmanager/M_timer_q_10"
        BEL "p1l3am/ledmanager/M_timer_q_9" BEL
        "p1l3am/ledmanager/M_timer_q_8" BEL "p1l3am/ledmanager/M_timer_q_7"
        BEL "p1l3am/ledmanager/M_timer_q_6" BEL
        "p1l3am/ledmanager/M_timer_q_5" BEL "p1l3am/ledmanager/M_timer_q_4"
        BEL "p1l3am/ledmanager/M_timer_q_3" BEL
        "p1l3am/ledmanager/M_timer_q_2" BEL "p1l3am/ledmanager/M_timer_q_1"
        BEL "p1l3am/ledmanager/M_timer_q_0" BEL
        "p1l3am/ledmanager/M_pwm_status_q" BEL
        "p1l3am/ledmanager/M_physical_tracker_q_10" BEL
        "p1l3am/ledmanager/M_physical_tracker_q_9" BEL
        "p1l3am/ledmanager/M_physical_tracker_q_8" BEL
        "p1l3am/ledmanager/M_physical_tracker_q_7" BEL
        "p1l3am/ledmanager/M_physical_tracker_q_6" BEL
        "p1l3am/ledmanager/M_physical_tracker_q_5" BEL
        "p1l3am/ledmanager/M_physical_tracker_q_4" BEL
        "p1l3am/ledmanager/M_physical_tracker_q_3" BEL
        "p1l3am/ledmanager/M_physical_tracker_q_2" BEL
        "p1l3am/ledmanager/M_physical_tracker_q_1" BEL
        "p1l3am/ledmanager/M_physical_tracker_q_0" BEL
        "p1l3am/ledmanager/M_pixel_overall_count_q_7" BEL
        "p1l3am/ledmanager/M_pixel_overall_count_q_6" BEL
        "p1l3am/ledmanager/M_pixel_overall_count_q_5" BEL
        "p1l3am/ledmanager/M_pixel_overall_count_q_4" BEL
        "p1l3am/ledmanager/M_pixel_overall_count_q_3" BEL
        "p1l3am/ledmanager/M_pixel_overall_count_q_2" BEL
        "p1l3am/ledmanager/M_pixel_overall_count_q_1" BEL
        "p1l3am/ledmanager/M_pixel_overall_count_q_0" BEL
        "p1l3am/M_timeanimed_q_0" BEL "p1l3am/M_timeanimed_q_1" BEL
        "p1l3am/M_timeanimed_q_2" BEL "p1l3am/M_timeanimed_q_3" BEL
        "p1l3am/M_timeanimed_q_4" BEL "p1l3am/M_timeanimed_q_5" BEL
        "p1l3am/M_timeanimed_q_6" BEL "p1l3am/M_timeanimed_q_7" BEL
        "p1l3am/M_timeanimed_q_8" BEL "p1l3am/M_timeanimed_q_9" BEL
        "p1l3am/M_strip_state_q_0" BEL "p1l3am/M_strip_state_q_1" BEL
        "p1l3am/M_blinking_counter_q_0" BEL "p1l3am/M_blinking_counter_q_1"
        BEL "p1l3am/M_blinking_counter_q_2" BEL
        "p1l3am/M_bangsequence_q_FSM_FFd1" BEL
        "p1l3am/M_bangsequence_q_FSM_FFd2" BEL
        "p1l3am/M_bangsequence_q_FSM_FFd3" BEL "p1l3am/M_timeanimed_q_10" BEL
        "p1l3am/M_timeanimed_q_11" BEL "p1l3am/M_timeanimed_q_12" BEL
        "p1l3am/M_timeanimed_q_13" BEL "p1l3am/M_timeanimed_q_14" BEL
        "p1l3am/M_timeanimed_q_15" BEL "p1l3am/M_timeanimed_q_20" BEL
        "p1l3am/M_timeanimed_q_21" BEL "p1l3am/M_timeanimed_q_16" BEL
        "p1l3am/M_timeanimed_q_17" BEL "p1l3am/M_timeanimed_q_22" BEL
        "p1l3am/M_timeanimed_q_18" BEL "p1l3am/M_timeanimed_q_23" BEL
        "p1l3am/M_timeanimed_q_19" BEL "p1l3am/M_timeanimed_q_24" BEL
        "p1l3am/M_timeanimed_q_25" BEL "p1l3am/M_timeanimed_q_30" BEL
        "p1l3am/M_timeanimed_q_31" BEL "p1l3am/M_timeanimed_q_26" BEL
        "p1l3am/M_timeanimed_q_27" BEL "p1l3am/M_timeanimed_q_32" BEL
        "p1l3am/M_timeanimed_q_28" BEL "p1l3am/M_timeanimed_q_33" BEL
        "p1l3am/M_timeanimed_q_29" BEL "p1l3am/M_timeanimed_q_34" BEL
        "p1l3am/M_timeanimed_q_35" BEL "p1l3am/M_timeanimed_q_40" BEL
        "p1l3am/M_timeanimed_q_41" BEL "p1l3am/M_timeanimed_q_36" BEL
        "p1l3am/M_timeanimed_q_37" BEL "p1l3am/M_timeanimed_q_42" BEL
        "p1l3am/M_timeanimed_q_38" BEL "p1l3am/M_timeanimed_q_43" BEL
        "p1l3am/M_timeanimed_q_39" BEL "p1l3am/M_timeanimed_q_44" BEL
        "p1l3am/M_timeanimed_q_45" BEL "p1l3am/M_timeanimed_q_50" BEL
        "p1l3am/M_timeanimed_q_51" BEL "p1l3am/M_timeanimed_q_46" BEL
        "p1l3am/M_timeanimed_q_47" BEL "p1l3am/M_timeanimed_q_52" BEL
        "M_sclk_q_11" BEL "M_sclk_q_12" BEL "M_sclk_q_13" BEL "M_sclk_q_14"
        BEL "M_sclk_q_15" BEL "M_sclk_q_20" BEL "M_sclk_q_16" BEL
        "M_state_q_FSM_FFd4_1" BEL "M_sclk_q_21" BEL "M_sclk_q_17" BEL
        "M_state_q_FSM_FFd4_2" BEL "M_sclk_q_22" BEL "M_sclk_q_18" BEL
        "M_sclk_q_23" BEL "M_sclk_q_19" BEL "M_sclk_q_24" BEL "M_sclk_q_25"
        BEL "m/M_rtimer_q_1" BEL "m/M_rtimer_q_0" BEL "m/M_temp2_q_4" BEL
        "m/M_temp2_q_3" BEL "m/M_temp2_q_2" BEL "m/M_temp2_q_1" BEL
        "m/M_temp2_q_0" BEL "m/M_temp1_q_4" BEL "m/M_temp1_q_3" BEL
        "m/M_temp1_q_2" BEL "m/M_temp1_q_1" BEL "m/M_temp1_q_0" BEL
        "m/M_rstart_q_0" BEL "m/M_rl3_q_3" BEL "m/M_rl3_q_2" BEL "m/M_rl3_q_1"
        BEL "m/M_rl3_q_0" BEL "m/M_rl2_q_3" BEL "m/M_rl2_q_2" BEL
        "m/M_rl2_q_1" BEL "m/M_rl2_q_0" BEL "m/M_rt_s2_q_0" BEL
        "m/M_rt_s1_q_0" BEL "m/M_rl1_q_3" BEL "m/M_rl1_q_2" BEL "m/M_rl1_q_1"
        BEL "m/M_rl1_q_0" BEL "m/M_rled_q_3" BEL "m/M_rled_q_2" BEL
        "m/M_rled_q_1" BEL "m/M_rled_q_0" BEL "m/M_rs2_q_3" BEL "m/M_rs2_q_2"
        BEL "m/M_rs2_q_1" BEL "m/M_rs2_q_0" BEL "m/M_rs1_q_3" BEL
        "m/M_rs1_q_2" BEL "m/M_rs1_q_1" BEL "m/M_rs1_q_0" BEL "m/M_rdef2_q_2"
        BEL "m/M_rdef2_q_1" BEL "m/M_rdef2_q_0" BEL "m/M_ratt2_q_2" BEL
        "m/M_ratt2_q_1" BEL "m/M_ratt2_q_0" BEL "m/M_rdef1_q_2" BEL
        "m/M_rdef1_q_1" BEL "m/M_rdef1_q_0" BEL "m/M_ratt1_q_2" BEL
        "m/M_ratt1_q_1" BEL "m/M_ratt1_q_0" BEL "M_state_q_FSM_FFd5_1" BEL
        "M_state_q_FSM_FFd5_2" BEL "M_state_q_FSM_FFd1" BEL
        "M_state_q_FSM_FFd2" BEL "M_state_q_FSM_FFd3" BEL "M_state_q_FSM_FFd4"
        BEL "M_state_q_FSM_FFd5" BEL "M_state_q_FSM_FFd6" BEL
        "M_state_q_FSM_FFd6_1" BEL "M_state_q_FSM_FFd6_2" BEL
        "p2l1am/M_timeanimed_q_48" BEL "p2l1am/M_timeanimed_q_53" BEL
        "p2l1am/M_timeanimed_q_49" BEL "p2l1am/M_timeanimed_q_54" BEL
        "p2l1am/M_timeanimed_q_55" BEL "p2l1am/M_timeanimed_q_60" BEL
        "p2l1am/M_timeanimed_q_61" BEL "p2l1am/M_timeanimed_q_56" BEL
        "p2l1am/M_timeanimed_q_57" BEL "p2l1am/M_timeanimed_q_62" BEL
        "p2l1am/M_timeanimed_q_58" BEL "p2l1am/M_timeanimed_q_63" BEL
        "p2l1am/M_timeanimed_q_59" BEL "p2l1am/M_timeanimed_q_64" BEL
        "p2l1am/M_timeanimed_q_65" BEL "p2l1am/M_timeanimed_q_70" BEL
        "p2l1am/M_timeanimed_q_71" BEL "p2l1am/M_timeanimed_q_66" BEL
        "p2l1am/M_timeanimed_q_67" BEL "p2l1am/M_timeanimed_q_72" BEL
        "p2l1am/M_timeanimed_q_68" BEL "p2l1am/M_timeanimed_q_73" BEL
        "p2l1am/M_timeanimed_q_69" BEL "p2l1am/M_timeanimed_q_74" BEL
        "p2l1am/M_timeanimed_q_75" BEL "p2l1am/M_timeanimed_q_80" BEL
        "p2l1am/M_timeanimed_q_81" BEL "p2l1am/M_timeanimed_q_76" BEL
        "p2l1am/M_timeanimed_q_77" BEL "p2l1am/M_timeanimed_q_82" BEL
        "p2l1am/M_timeanimed_q_78" BEL "p2l1am/M_timeanimed_q_83" BEL
        "p2l1am/M_timeanimed_q_79" BEL "p2l1am/M_timeanimed_q_84" BEL
        "p2l1am/M_timeanimed_q_85" BEL "p2l1am/M_timeanimed_q_86" BEL
        "p2l1am/M_timeanimed_q_87" BEL "p2l1am/M_timeanimed_q_88" BEL
        "p2l1am/M_timeanimed_q_89" BEL "p2l1am/ledmanager/M_state_q_FSM_FFd1"
        BEL "p2l1am/ledmanager/M_state_q_FSM_FFd2" BEL
        "p2l1am/ledmanager/M_state_q_FSM_FFd3" BEL
        "p2l1am/ledmanager/M_timer_q_20" BEL "p2l1am/ledmanager/M_timer_q_19"
        BEL "p2l1am/ledmanager/M_timer_q_18" BEL
        "p2l1am/ledmanager/M_timer_q_17" BEL "p2l1am/ledmanager/M_timer_q_16"
        BEL "p2l1am/ledmanager/M_timer_q_15" BEL
        "p2l1am/ledmanager/M_timer_q_14" BEL "p2l1am/ledmanager/M_timer_q_13"
        BEL "p2l1am/ledmanager/M_timer_q_12" BEL
        "p2l1am/ledmanager/M_timer_q_11" BEL "p2l1am/ledmanager/M_timer_q_10"
        BEL "p2l1am/ledmanager/M_timer_q_9" BEL
        "p2l1am/ledmanager/M_timer_q_8" BEL "p2l1am/ledmanager/M_timer_q_7"
        BEL "p2l1am/ledmanager/M_timer_q_6" BEL
        "p2l1am/ledmanager/M_timer_q_5" BEL "p2l1am/ledmanager/M_timer_q_4"
        BEL "p2l1am/ledmanager/M_timer_q_3" BEL
        "p2l1am/ledmanager/M_timer_q_2" BEL "p2l1am/ledmanager/M_timer_q_1"
        BEL "p2l1am/ledmanager/M_timer_q_0" BEL
        "p2l1am/ledmanager/M_pwm_status_q" BEL
        "p2l1am/ledmanager/M_physical_tracker_q_10" BEL
        "p2l1am/ledmanager/M_physical_tracker_q_9" BEL
        "p2l1am/ledmanager/M_physical_tracker_q_8" BEL
        "p2l1am/ledmanager/M_physical_tracker_q_7" BEL
        "p2l1am/ledmanager/M_physical_tracker_q_6" BEL
        "p2l1am/ledmanager/M_physical_tracker_q_5" BEL
        "p2l1am/ledmanager/M_physical_tracker_q_4" BEL
        "p2l1am/ledmanager/M_physical_tracker_q_3" BEL
        "p2l1am/ledmanager/M_physical_tracker_q_2" BEL
        "p2l1am/ledmanager/M_physical_tracker_q_1" BEL
        "p2l1am/ledmanager/M_physical_tracker_q_0" BEL
        "p2l1am/ledmanager/M_pixel_overall_count_q_7" BEL
        "p2l1am/ledmanager/M_pixel_overall_count_q_6" BEL
        "p2l1am/ledmanager/M_pixel_overall_count_q_5" BEL
        "p2l1am/ledmanager/M_pixel_overall_count_q_4" BEL
        "p2l1am/ledmanager/M_pixel_overall_count_q_3" BEL
        "p2l1am/ledmanager/M_pixel_overall_count_q_2" BEL
        "p2l1am/ledmanager/M_pixel_overall_count_q_1" BEL
        "p2l1am/ledmanager/M_pixel_overall_count_q_0" BEL
        "p2l1am/M_timeanimed_q_0" BEL "p2l1am/M_timeanimed_q_1" BEL
        "p2l1am/M_timeanimed_q_2" BEL "p2l1am/M_timeanimed_q_3" BEL
        "p2l1am/M_timeanimed_q_4" BEL "p2l1am/M_timeanimed_q_5" BEL
        "p2l1am/M_timeanimed_q_6" BEL "p2l1am/M_timeanimed_q_7" BEL
        "p2l1am/M_timeanimed_q_8" BEL "p2l1am/M_timeanimed_q_9" BEL
        "p2l1am/M_strip_state_q_0" BEL "p2l1am/M_strip_state_q_1" BEL
        "p2l1am/M_blinking_counter_q_0" BEL "p2l1am/M_blinking_counter_q_1"
        BEL "p2l1am/M_blinking_counter_q_2" BEL
        "p2l1am/M_bangsequence_q_FSM_FFd1" BEL
        "p2l1am/M_bangsequence_q_FSM_FFd2" BEL
        "p2l1am/M_bangsequence_q_FSM_FFd3" BEL "p2l1am/M_timeanimed_q_10" BEL
        "p2l1am/M_timeanimed_q_11" BEL "p2l1am/M_timeanimed_q_12" BEL
        "p2l1am/M_timeanimed_q_13" BEL "p2l1am/M_timeanimed_q_14" BEL
        "p2l1am/M_timeanimed_q_15" BEL "p2l1am/M_timeanimed_q_20" BEL
        "p2l1am/M_timeanimed_q_21" BEL "p2l1am/M_timeanimed_q_16" BEL
        "p2l1am/M_timeanimed_q_17" BEL "p2l1am/M_timeanimed_q_22" BEL
        "p2l1am/M_timeanimed_q_18" BEL "p2l1am/M_timeanimed_q_23" BEL
        "p2l1am/M_timeanimed_q_19" BEL "p2l1am/M_timeanimed_q_24" BEL
        "p2l1am/M_timeanimed_q_25" BEL "p2l1am/M_timeanimed_q_30" BEL
        "p2l1am/M_timeanimed_q_31" BEL "p2l1am/M_timeanimed_q_26" BEL
        "p2l1am/M_timeanimed_q_27" BEL "p2l1am/M_timeanimed_q_32" BEL
        "p2l1am/M_timeanimed_q_28" BEL "p2l1am/M_timeanimed_q_33" BEL
        "p2l1am/M_timeanimed_q_29" BEL "p2l1am/M_timeanimed_q_34" BEL
        "p2l1am/M_timeanimed_q_35" BEL "p2l1am/M_timeanimed_q_40" BEL
        "p2l1am/M_timeanimed_q_41" BEL "p2l1am/M_timeanimed_q_36" BEL
        "p2l1am/M_timeanimed_q_37" BEL "p2l1am/M_timeanimed_q_42" BEL
        "p2l1am/M_timeanimed_q_38" BEL "p2l1am/M_timeanimed_q_43" BEL
        "p2l1am/M_timeanimed_q_39" BEL "p2l1am/M_timeanimed_q_44" BEL
        "p2l1am/M_timeanimed_q_45" BEL "p2l1am/M_timeanimed_q_50" BEL
        "p2l1am/M_timeanimed_q_51" BEL "p2l1am/M_timeanimed_q_46" BEL
        "p2l1am/M_timeanimed_q_47" BEL "p2l1am/M_timeanimed_q_52" BEL
        "p2l2am/M_timeanimed_q_48" BEL "p2l2am/M_timeanimed_q_53" BEL
        "p2l2am/M_timeanimed_q_49" BEL "p2l2am/M_timeanimed_q_54" BEL
        "p2l2am/M_timeanimed_q_55" BEL "p2l2am/M_timeanimed_q_60" BEL
        "p2l2am/M_timeanimed_q_61" BEL "p2l2am/M_timeanimed_q_56" BEL
        "p2l2am/M_timeanimed_q_57" BEL "p2l2am/M_timeanimed_q_62" BEL
        "p2l2am/M_timeanimed_q_58" BEL "p2l2am/M_timeanimed_q_63" BEL
        "p2l2am/M_timeanimed_q_59" BEL "p2l2am/M_timeanimed_q_64" BEL
        "p2l2am/M_timeanimed_q_65" BEL "p2l2am/M_timeanimed_q_70" BEL
        "p2l2am/M_timeanimed_q_71" BEL "p2l2am/M_timeanimed_q_66" BEL
        "p2l2am/M_timeanimed_q_67" BEL "p2l2am/M_timeanimed_q_72" BEL
        "p2l2am/M_timeanimed_q_68" BEL "p2l2am/M_timeanimed_q_73" BEL
        "p2l2am/M_timeanimed_q_69" BEL "p2l2am/M_timeanimed_q_74" BEL
        "p2l2am/M_timeanimed_q_75" BEL "p2l2am/M_timeanimed_q_80" BEL
        "p2l2am/M_timeanimed_q_81" BEL "p2l2am/M_timeanimed_q_76" BEL
        "p2l2am/M_timeanimed_q_77" BEL "p2l2am/M_timeanimed_q_82" BEL
        "p2l2am/M_timeanimed_q_78" BEL "p2l2am/M_timeanimed_q_83" BEL
        "p2l2am/M_timeanimed_q_79" BEL "p2l2am/M_timeanimed_q_84" BEL
        "p2l2am/M_timeanimed_q_85" BEL "p2l2am/M_timeanimed_q_86" BEL
        "p2l2am/M_timeanimed_q_87" BEL "p2l2am/M_timeanimed_q_88" BEL
        "p2l2am/M_timeanimed_q_89" BEL "p2l2am/ledmanager/M_state_q_FSM_FFd1"
        BEL "p2l2am/ledmanager/M_state_q_FSM_FFd2" BEL
        "p2l2am/ledmanager/M_state_q_FSM_FFd3" BEL
        "p2l2am/ledmanager/M_timer_q_20" BEL "p2l2am/ledmanager/M_timer_q_19"
        BEL "p2l2am/ledmanager/M_timer_q_18" BEL
        "p2l2am/ledmanager/M_timer_q_17" BEL "p2l2am/ledmanager/M_timer_q_16"
        BEL "p2l2am/ledmanager/M_timer_q_15" BEL
        "p2l2am/ledmanager/M_timer_q_14" BEL "p2l2am/ledmanager/M_timer_q_13"
        BEL "p2l2am/ledmanager/M_timer_q_12" BEL
        "p2l2am/ledmanager/M_timer_q_11" BEL "p2l2am/ledmanager/M_timer_q_10"
        BEL "p2l2am/ledmanager/M_timer_q_9" BEL
        "p2l2am/ledmanager/M_timer_q_8" BEL "p2l2am/ledmanager/M_timer_q_7"
        BEL "p2l2am/ledmanager/M_timer_q_6" BEL
        "p2l2am/ledmanager/M_timer_q_5" BEL "p2l2am/ledmanager/M_timer_q_4"
        BEL "p2l2am/ledmanager/M_timer_q_3" BEL
        "p2l2am/ledmanager/M_timer_q_2" BEL "p2l2am/ledmanager/M_timer_q_1"
        BEL "p2l2am/ledmanager/M_timer_q_0" BEL
        "p2l2am/ledmanager/M_pwm_status_q" BEL
        "p2l2am/ledmanager/M_physical_tracker_q_10" BEL
        "p2l2am/ledmanager/M_physical_tracker_q_9" BEL
        "p2l2am/ledmanager/M_physical_tracker_q_8" BEL
        "p2l2am/ledmanager/M_physical_tracker_q_7" BEL
        "p2l2am/ledmanager/M_physical_tracker_q_6" BEL
        "p2l2am/ledmanager/M_physical_tracker_q_5" BEL
        "p2l2am/ledmanager/M_physical_tracker_q_4" BEL
        "p2l2am/ledmanager/M_physical_tracker_q_3" BEL
        "p2l2am/ledmanager/M_physical_tracker_q_2" BEL
        "p2l2am/ledmanager/M_physical_tracker_q_1" BEL
        "p2l2am/ledmanager/M_physical_tracker_q_0" BEL
        "p2l2am/ledmanager/M_pixel_overall_count_q_7" BEL
        "p2l2am/ledmanager/M_pixel_overall_count_q_6" BEL
        "p2l2am/ledmanager/M_pixel_overall_count_q_5" BEL
        "p2l2am/ledmanager/M_pixel_overall_count_q_4" BEL
        "p2l2am/ledmanager/M_pixel_overall_count_q_3" BEL
        "p2l2am/ledmanager/M_pixel_overall_count_q_2" BEL
        "p2l2am/ledmanager/M_pixel_overall_count_q_1" BEL
        "p2l2am/ledmanager/M_pixel_overall_count_q_0" BEL
        "p2l2am/M_timeanimed_q_0" BEL "p2l2am/M_timeanimed_q_1" BEL
        "p2l2am/M_timeanimed_q_2" BEL "p2l2am/M_timeanimed_q_3" BEL
        "p2l2am/M_timeanimed_q_4" BEL "p2l2am/M_timeanimed_q_5" BEL
        "p2l2am/M_timeanimed_q_6" BEL "p2l2am/M_timeanimed_q_7" BEL
        "p2l2am/M_timeanimed_q_8" BEL "p2l2am/M_timeanimed_q_9" BEL
        "p2l2am/M_strip_state_q_0" BEL "p2l2am/M_strip_state_q_1" BEL
        "p2l2am/M_blinking_counter_q_0" BEL "p2l2am/M_blinking_counter_q_1"
        BEL "p2l2am/M_blinking_counter_q_2" BEL
        "p2l2am/M_bangsequence_q_FSM_FFd1" BEL
        "p2l2am/M_bangsequence_q_FSM_FFd2" BEL
        "p2l2am/M_bangsequence_q_FSM_FFd3" BEL "p2l2am/M_timeanimed_q_10" BEL
        "p2l2am/M_timeanimed_q_11" BEL "p2l2am/M_timeanimed_q_12" BEL
        "p2l2am/M_timeanimed_q_13" BEL "p2l2am/M_timeanimed_q_14" BEL
        "p2l2am/M_timeanimed_q_15" BEL "p2l2am/M_timeanimed_q_20" BEL
        "p2l2am/M_timeanimed_q_21" BEL "p2l2am/M_timeanimed_q_16" BEL
        "p2l2am/M_timeanimed_q_17" BEL "p2l2am/M_timeanimed_q_22" BEL
        "p2l2am/M_timeanimed_q_18" BEL "p2l2am/M_timeanimed_q_23" BEL
        "p2l2am/M_timeanimed_q_19" BEL "p2l2am/M_timeanimed_q_24" BEL
        "p2l2am/M_timeanimed_q_25" BEL "p2l2am/M_timeanimed_q_30" BEL
        "p2l2am/M_timeanimed_q_31" BEL "p2l2am/M_timeanimed_q_26" BEL
        "p2l2am/M_timeanimed_q_27" BEL "p2l2am/M_timeanimed_q_32" BEL
        "p2l2am/M_timeanimed_q_28" BEL "p2l2am/M_timeanimed_q_33" BEL
        "p2l2am/M_timeanimed_q_29" BEL "p2l2am/M_timeanimed_q_34" BEL
        "p2l2am/M_timeanimed_q_35" BEL "p2l2am/M_timeanimed_q_40" BEL
        "p2l2am/M_timeanimed_q_41" BEL "p2l2am/M_timeanimed_q_36" BEL
        "p2l2am/M_timeanimed_q_37" BEL "p2l2am/M_timeanimed_q_42" BEL
        "p2l2am/M_timeanimed_q_38" BEL "p2l2am/M_timeanimed_q_43" BEL
        "p2l2am/M_timeanimed_q_39" BEL "p2l2am/M_timeanimed_q_44" BEL
        "p2l2am/M_timeanimed_q_45" BEL "p2l2am/M_timeanimed_q_50" BEL
        "p2l2am/M_timeanimed_q_51" BEL "p2l2am/M_timeanimed_q_46" BEL
        "p2l2am/M_timeanimed_q_47" BEL "p2l2am/M_timeanimed_q_52" BEL
        "p2l3am/M_timeanimed_q_48" BEL "p2l3am/M_timeanimed_q_53" BEL
        "p2l3am/M_timeanimed_q_49" BEL "p2l3am/M_timeanimed_q_54" BEL
        "p2l3am/M_timeanimed_q_55" BEL "p2l3am/M_timeanimed_q_60" BEL
        "p2l3am/M_timeanimed_q_61" BEL "p2l3am/M_timeanimed_q_56" BEL
        "p2l3am/M_timeanimed_q_57" BEL "p2l3am/M_timeanimed_q_62" BEL
        "p2l3am/M_timeanimed_q_58" BEL "p2l3am/M_timeanimed_q_63" BEL
        "p2l3am/M_timeanimed_q_59" BEL "p2l3am/M_timeanimed_q_64" BEL
        "p2l3am/M_timeanimed_q_65" BEL "p2l3am/M_timeanimed_q_70" BEL
        "p2l3am/M_timeanimed_q_71" BEL "p2l3am/M_timeanimed_q_66" BEL
        "p2l3am/M_timeanimed_q_67" BEL "p2l3am/M_timeanimed_q_72" BEL
        "p2l3am/M_timeanimed_q_68" BEL "p2l3am/M_timeanimed_q_73" BEL
        "p2l3am/M_timeanimed_q_69" BEL "p2l3am/M_timeanimed_q_74" BEL
        "p2l3am/M_timeanimed_q_75" BEL "p2l3am/M_timeanimed_q_80" BEL
        "p2l3am/M_timeanimed_q_81" BEL "p2l3am/M_timeanimed_q_76" BEL
        "p2l3am/M_timeanimed_q_77" BEL "p2l3am/M_timeanimed_q_82" BEL
        "p2l3am/M_timeanimed_q_78" BEL "p2l3am/M_timeanimed_q_83" BEL
        "p2l3am/M_timeanimed_q_79" BEL "p2l3am/M_timeanimed_q_84" BEL
        "p2l3am/M_timeanimed_q_85" BEL "p2l3am/M_timeanimed_q_86" BEL
        "p2l3am/M_timeanimed_q_87" BEL "p2l3am/M_timeanimed_q_88" BEL
        "p2l3am/M_timeanimed_q_89" BEL "p2l3am/ledmanager/M_state_q_FSM_FFd1"
        BEL "p2l3am/ledmanager/M_state_q_FSM_FFd2" BEL
        "p2l3am/ledmanager/M_state_q_FSM_FFd3" BEL
        "p2l3am/ledmanager/M_timer_q_20" BEL "p2l3am/ledmanager/M_timer_q_19"
        BEL "p2l3am/ledmanager/M_timer_q_18" BEL
        "p2l3am/ledmanager/M_timer_q_17" BEL "p2l3am/ledmanager/M_timer_q_16"
        BEL "p2l3am/ledmanager/M_timer_q_15" BEL
        "p2l3am/ledmanager/M_timer_q_14" BEL "p2l3am/ledmanager/M_timer_q_13"
        BEL "p2l3am/ledmanager/M_timer_q_12" BEL
        "p2l3am/ledmanager/M_timer_q_11" BEL "p2l3am/ledmanager/M_timer_q_10"
        BEL "p2l3am/ledmanager/M_timer_q_9" BEL
        "p2l3am/ledmanager/M_timer_q_8" BEL "p2l3am/ledmanager/M_timer_q_7"
        BEL "p2l3am/ledmanager/M_timer_q_6" BEL
        "p2l3am/ledmanager/M_timer_q_5" BEL "p2l3am/ledmanager/M_timer_q_4"
        BEL "p2l3am/ledmanager/M_timer_q_3" BEL
        "p2l3am/ledmanager/M_timer_q_2" BEL "p2l3am/ledmanager/M_timer_q_1"
        BEL "p2l3am/ledmanager/M_timer_q_0" BEL
        "p2l3am/ledmanager/M_pwm_status_q" BEL
        "p2l3am/ledmanager/M_physical_tracker_q_10" BEL
        "p2l3am/ledmanager/M_physical_tracker_q_9" BEL
        "p2l3am/ledmanager/M_physical_tracker_q_8" BEL
        "p2l3am/ledmanager/M_physical_tracker_q_7" BEL
        "p2l3am/ledmanager/M_physical_tracker_q_6" BEL
        "p2l3am/ledmanager/M_physical_tracker_q_5" BEL
        "p2l3am/ledmanager/M_physical_tracker_q_4" BEL
        "p2l3am/ledmanager/M_physical_tracker_q_3" BEL
        "p2l3am/ledmanager/M_physical_tracker_q_2" BEL
        "p2l3am/ledmanager/M_physical_tracker_q_1" BEL
        "p2l3am/ledmanager/M_physical_tracker_q_0" BEL
        "p2l3am/ledmanager/M_pixel_overall_count_q_7" BEL
        "p2l3am/ledmanager/M_pixel_overall_count_q_6" BEL
        "p2l3am/ledmanager/M_pixel_overall_count_q_5" BEL
        "p2l3am/ledmanager/M_pixel_overall_count_q_4" BEL
        "p2l3am/ledmanager/M_pixel_overall_count_q_3" BEL
        "p2l3am/ledmanager/M_pixel_overall_count_q_2" BEL
        "p2l3am/ledmanager/M_pixel_overall_count_q_1" BEL
        "p2l3am/ledmanager/M_pixel_overall_count_q_0" BEL
        "p2l3am/M_timeanimed_q_0" BEL "p2l3am/M_timeanimed_q_1" BEL
        "p2l3am/M_timeanimed_q_2" BEL "p2l3am/M_timeanimed_q_3" BEL
        "p2l3am/M_timeanimed_q_4" BEL "p2l3am/M_timeanimed_q_5" BEL
        "p2l3am/M_timeanimed_q_6" BEL "p2l3am/M_timeanimed_q_7" BEL
        "p2l3am/M_timeanimed_q_8" BEL "p2l3am/M_timeanimed_q_9" BEL
        "p2l3am/M_strip_state_q_0" BEL "p2l3am/M_strip_state_q_1" BEL
        "p2l3am/M_blinking_counter_q_0" BEL "p2l3am/M_blinking_counter_q_1"
        BEL "p2l3am/M_blinking_counter_q_2" BEL
        "p2l3am/M_bangsequence_q_FSM_FFd1" BEL
        "p2l3am/M_bangsequence_q_FSM_FFd2" BEL
        "p2l3am/M_bangsequence_q_FSM_FFd3" BEL "p2l3am/M_timeanimed_q_10" BEL
        "p2l3am/M_timeanimed_q_11" BEL "p2l3am/M_timeanimed_q_12" BEL
        "p2l3am/M_timeanimed_q_13" BEL "p2l3am/M_timeanimed_q_14" BEL
        "p2l3am/M_timeanimed_q_15" BEL "p2l3am/M_timeanimed_q_20" BEL
        "p2l3am/M_timeanimed_q_21" BEL "p2l3am/M_timeanimed_q_16" BEL
        "p2l3am/M_timeanimed_q_17" BEL "p2l3am/M_timeanimed_q_22" BEL
        "p2l3am/M_timeanimed_q_18" BEL "p2l3am/M_timeanimed_q_23" BEL
        "p2l3am/M_timeanimed_q_19" BEL "p2l3am/M_timeanimed_q_24" BEL
        "p2l3am/M_timeanimed_q_25" BEL "p2l3am/M_timeanimed_q_30" BEL
        "p2l3am/M_timeanimed_q_31" BEL "p2l3am/M_timeanimed_q_26" BEL
        "p2l3am/M_timeanimed_q_27" BEL "p2l3am/M_timeanimed_q_32" BEL
        "p2l3am/M_timeanimed_q_28" BEL "p2l3am/M_timeanimed_q_33" BEL
        "p2l3am/M_timeanimed_q_29" BEL "p2l3am/M_timeanimed_q_34" BEL
        "p2l3am/M_timeanimed_q_35" BEL "p2l3am/M_timeanimed_q_40" BEL
        "p2l3am/M_timeanimed_q_41" BEL "p2l3am/M_timeanimed_q_36" BEL
        "p2l3am/M_timeanimed_q_37" BEL "p2l3am/M_timeanimed_q_42" BEL
        "p2l3am/M_timeanimed_q_38" BEL "p2l3am/M_timeanimed_q_43" BEL
        "p2l3am/M_timeanimed_q_39" BEL "p2l3am/M_timeanimed_q_44" BEL
        "p2l3am/M_timeanimed_q_45" BEL "p2l3am/M_timeanimed_q_50" BEL
        "p2l3am/M_timeanimed_q_51" BEL "p2l3am/M_timeanimed_q_46" BEL
        "p2l3am/M_timeanimed_q_47" BEL "p2l3am/M_timeanimed_q_52" BEL
        "M_sclk_q_0" BEL "M_sclk_q_1" BEL "M_sclk_q_2" BEL "M_sclk_q_3" BEL
        "M_sclk_q_4" BEL "M_sclk_q_5" BEL "M_sclk_q_6" BEL "M_sclk_q_7" BEL
        "M_sclk_q_8" BEL "M_sclk_q_9" BEL "M_state_q_FSM_FFd1_1" BEL
        "M_state_q_FSM_FFd1_2";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

